<head>
	<style type="text/css">
	 {
		margin: 0px;
		padding: 0px;outline: none;
	}

	body {
		background: transparent;
		color: #000;
	}

	form {
		border: 13px solid;
		width: 500px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		background:  -moz-linear-gradient(19% 75% 90deg,#FFF8C6, #FFF8C6);
		margin:50px auto;
		padding: 20px;
	}

	label {
		font-size: 12px;
		font-family: arial, sans-serif;
		list-style-type: none;
		color: #000;
		text-shadow: #fff 0px 0px;
		margin-bottom: 10px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: block;
	}

	input {
	  -webkit-transition-property: -webkit-box-shadow, background;
	  -webkit-transition-duration: 0.25s;
	  	padding: 6px;
		border-bottom: 0px;
		border-left: 0px;
		border-right: 0px;
		border-top: 1px solid #ad64e0;
		-moz-box-shadow: 0px 0px 2px #000;
		-webkit-box-shadow: 0px 0px 2px #000;
		margin-bottom: 10px;
		width: 230px;
	}

	input.submit {
	  -webkit-transition-property: -webkit-box-shadow, background;
	  -webkit-transition-duration: 0.25s;
		width: 100px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));	
		background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);
		color: #fff;
		text-transform: uppercase;
		text-shadow: #fff 1px 1px;
		border-top: 1px solid #ad64e0;
		margin-top: 10px;
	}

	input.submit:hover {
		-webkit-box-shadow: 0px 0px 2px #000;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));
		background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);
	} 

	input.submit:active {
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#781bb9), to(#963AD6));
		background:  -moz-linear-gradient(19% 75% 90deg,#963AD6, #781bb9);
	}

	input:hover {
		-webkit-box-shadow: 0px 0px 4px #000;
	}

.btn {
	display: inline-block;
	background: url(/images/btn.bg.png) repeat-x 0px 0px;
	padding:2px 10px 3px 10px;
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	border:1px solid rgba(0,0,0,0.4);
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.btn:hover {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	cursor:pointer;
}

.blue		{background-color: #CCCCCC; color: #141414;}
.blue:hover	{background-color: #00c0ff; color: #ffffff;}

.green		{background-color: #CCCCCC; color: #141414;}
.green:hover	{background-color: #8aff00; color: #ffffff;}

.red		{background-color: #CCCCCC; color: #141414;}
.red:hover	{background-color: #ff004e; color: #ffffff;}


#trapezium {
   height: 0; 
   width: 80px;
   border-bottom: 80px solid blue;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
}


		blockquote {
			 margin: 0 0 50px 0; padding: 0;
		}

		blockquote#one {
                        border:5px solid #00868B;
			width: 280px;
			background: #FFF8C6;;
			padding: 25px;
			position: relative;
                        color: #000;
                        border-radius:8px 8px 8px 8px;
		}

		#wrap {
		 width: 700px; margin: auto;
		}

               #third {
                       background:#848484;
                       margin-left:360px;
                       margin-right:180px;
                       padding-top:10px;
                       padding-bottom:1px;
                       padding-left:20px;
                       padding-right:20px;
                       text-align:center;
                       color:white;
                       width:450px;
                       border-radius:8px 8px 8px 8px;
                      }


	</style>
</head>

<body>

<h1 align ="center">
    <%= image_tag "RealGoodFood-Logo.jpg" %><br /><br/>
    <b style ="font-family: 'Salsa', cursive;">Welcome to Real Good Food</b></h1>

<h3 style = "text-align:center;font-family: 'Salsa', cursive;font-size:30px;color:white;text-shadow: -3px 0 #006F3A, 0 3px #006F3A, 3px 0 #006F3A, 0 -3px #006F3A;"> Your delicious and delightful local food community </h3>
<div style ="border:5px solid #00868B;margin-left:200px;margin-right:200px;background-color: #FFF8C6;font-size:20px;border-radius:8px 8px 8px 8px;">
<p style= "text-align:center;font-family:ubuntu">
<b>Real Good Food is an online platform for people who love food - cooking, growing or simply consuming food that’s prepared with love and skill. <br /></b></p>
<ul>
<li style= "text-align:left;font-family: 'Convergence', sans-serif;">
Coordinate food trades and collaborative cooking and dining events
 with your friends, neighbors and co-workers.
</li>

<li style= "text-align:left;font-family: 'Convergence', sans-serif;">
Discover the best brownies, jambalaya or green curry paste around and showcase your own new favorite or family secret.</li>

<li style= "text-align:left;font-family: 'Convergence', sans-serif;">
Save money and time by cooking more, less often, eating great the whole time</li>

</ul>
</div><br />
<h2 style = "text-align:center;font-family: 'Salsa', cursive;font-size:25px;color:white;text-shadow: -3px 0 #006F3A, 0 3px #006F3A, 3px 0 #006F3A, 0 -3px #006F3A;">
    We need your help to make Real Good Food a reality in your community</h2>
<div id ="third", style ="border:5px solid #00868B;background-color: #FFF8C6;border-radius:8px 8px 8px 8px;color:black;">
          Share $5 dollars and Help us raise $10,000 to complete a working beta website
          (also read more about Real Good Food)
<h1 align ="center">
  <input type=button onClick="location.href='http://wjf.launcht.com/participant/detail/58'"
                   value='Support Us' class= "btn blue" target="blank" ></h1>

</div>
<br />

<div id="wrap">
<table>
  <tr><td>
  <td>
    <blockquote id="one">
       Have other ideas for Real Good Food ? Give us a Shout through Social Networks
       <%= image_tag 'twitter.png' %> Use #realgoodfood <br/>
       <a href="http://facebook.com/RealGoodFood" target="blank"><%= image_tag "facebook.png" %></a> Track Us on Facebook
   </blockquote>
   </td>
   <td>
   <blockquote id="one">
      Check out our website under development and give us your advice and feedback.
      We love to listen to the voice of our community, share your thoughts <a href="http://realgoodfood.uservoice.com/forums/137635-feedback-forum-for-real-good-food" target="blank">here</a>
   </blockquote>
   </td>
  </tr>
 </table>
</div>
<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://realgoodfood.us4.list-manage1.com/subscribe/post?u=2d63e728661a8327567030229&amp;id=48f9c5b9dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group input-group">
    <strong>I'd like to recieve  <span class="asterisk">*</span>
</strong>
    <ul><li><input type="radio" value="Notify me when you launch your Beta site" name="MMERGE3" id="mce-MMERGE3-0"><label for="mce-MMERGE3-0">Notify me when you launch your Beta site</label></li>
<li><input type="radio" value="Please include me on your Newsletter distribution (You will also be notified of our launch)" name="MMERGE3" id="mce-MMERGE3-1"><label for="mce-MMERGE3-1">Please include me on your Newsletter distribution (You will also be notified of our launch)</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Email Format </strong>
    <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
<li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
<li><input type="radio" value="mobile" name="EMAILTYPE" id="mce-EMAILTYPE-2"><label for="mce-EMAILTYPE-2">mobile</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='radio';
try {
    var jqueryLoaded=jQuery;
    jqueryLoaded=true;
} catch(err) {
    var jqueryLoaded=false;
}
var head= document.getElementsByTagName('head')[0];
if (!jqueryLoaded) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
    head.appendChild(script);
    if (script.readyState && script.onload!==null){
        script.onreadystatechange= function () {
              if (this.readyState == 'complete') mce_preload_check();
        }    
    }
}
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
head.appendChild(script);
var err_style = '';
try{
    err_style = mc_custom_error_style;
} catch(e){
    err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
}
var head= document.getElementsByTagName('head')[0];
var style= document.createElement('style');
style.type= 'text/css';
if (style.styleSheet) {
  style.styleSheet.cssText = err_style;
} else {
  style.appendChild(document.createTextNode(err_style));
}
head.appendChild(style);
setTimeout('mce_preload_check();', 250);

var mce_preload_checks = 0;
function mce_preload_check(){
    if (mce_preload_checks>40) return;
    mce_preload_checks++;
    try {
        var jqueryLoaded=jQuery;
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    try {
        var validatorLoaded=jQuery("#fake-form").validate({});
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    mce_init_form();
}
function mce_init_form(){
    jQuery(document).ready( function($) {
      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
      options = { url: 'http://realgoodfood.us4.list-manage1.com/subscribe/post-json?u=2d63e728661a8327567030229&id=48f9c5b9dd&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                    beforeSubmit: function(){
                        $('#mce_tmp_error_msg').remove();
                        $('.datefield','#mc_embed_signup').each(
                            function(){
                                var txt = 'filled';
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                        var bday = false;
                                        if (fields.length == 2){
                                            bday = true;
                                            fields[2] = {'value':1970};//trick birthdays into having years
                                        }
                                    	if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                    		this.value = '';
									    } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                    		this.value = '';
									    } else {
	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
	                                    }
                                    });
                            });
                        return mce_validator.form();
                    }, 
                    success: mce_success_cb
                };
      $('#mc-embedded-subscribe-form').ajaxForm(options);
      
      
    });
}
function mce_success_cb(resp){
    $('#mce-success-response').hide();
    $('#mce-error-response').hide();
    if (resp.result=="success"){
        $('#mce-'+resp.result+'-response').show();
        $('#mce-'+resp.result+'-response').html(resp.msg);
        $('#mc-embedded-subscribe-form').each(function(){
            this.reset();
    	});
    } else {
        var index = -1;
        var msg;
        try {
            var parts = resp.msg.split(' - ',2);
            if (parts[1]==undefined){
                msg = resp.msg;
            } else {
                i = parseInt(parts[0]);
                if (i.toString() == parts[0]){
                    index = parts[0];
                    msg = parts[1];
                } else {
                    index = -1;
                    msg = resp.msg;
                }
            }
        } catch(e){
            index = -1;
            msg = resp.msg;
        }
        try{
            if (index== -1){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);            
            } else {
                err_id = 'mce_tmp_error_msg';
                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                
                var input_id = '#mc_embed_signup';
                var f = $(input_id);
                if (ftypes[index]=='address'){
                    input_id = '#mce-'+fnames[index]+'-addr1';
                    f = $(input_id).parent().parent().get(0);
                } else if (ftypes[index]=='date'){
                    input_id = '#mce-'+fnames[index]+'-month';
                    f = $(input_id).parent().parent().get(0);
                } else {
                    input_id = '#mce-'+fnames[index];
                    f = $().parent(input_id).get(0);
                }
                if (f){
                    $(f).append(html);
                    $(input_id).focus();
                } else {
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
        }
    }
}

</script>
<!--End mc_embed_signup-->

	<script>
        $.backstretch("../assets/rgf2.png");
    </script>

</body>
</html>

